@font-face {
	font-family: 'Campanella';
	src: url('./fonts/campanella.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/campanella.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/campanella.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/campanella.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/campanella.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/campanella.svg#campanella') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Gilroy';
	src: url('./fonts/gilroy-light.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/gilroy-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/gilroy-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/gilroy-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/gilroy-light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/gilroy-light.svg#gilroy-light') format('svg'); /* Chrome < 4, Legacy iOS */
}
body{
	background: #1A5B35;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

.right-top{
	position: absolute;
	right: 0;
}
.left-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
}
.music{
	position: absolute;
	left: 14px;
	bottom: 75px;
}
.content{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.box{
	max-width: 660px;
	text-align: center;
}
.title{
	font-family: Campanella;
	font-size: 72px;
	line-height: 115px;
	margin: 0;
	color: #D6BD84;
}
.congrats{
	font-family: Gilroy;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}
.sign{
	display: flex;
	justify-content: center;
	align-items: center;
}
span{
	font-family: Gilroy;
	font-size: 20px;
	line-height: 22px;
	color: #FFFFFF;
}
.subsign{
	margin-left: 100px;
}
.logo{
	margin-top: 70px;
}
@media screen and (max-width: 768px){
	.right-top{
		display: none;
	}
	.left-bottom{
		display: none;
	}
	.title{
		font-size: 52px;
		line-height: 83px;
	}
	.congrats{
		font-size: 16px;
		line-height: 19px;
		width: 400px;
	}
	.content{
		margin-top: 30px;
	}
	
	.music{
		top: 60px;
		left: 348px;
	}
	.subsign{
		font-size: 16px;
		line-height: 19px;
	}
}
@media print{
	img{
		display: none;
	}
	.title{
		color: black;
	}
	span{
		color: black;
	}
	.congrats{
		color: black;
	}
	.subsign{
		margin-left: 20px;
	}
}










